<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

    <logger name="me.chat" level="DEBUG" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.netflix.config.sources.URLConfigurationSource" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="org.springframework.boot.SpringApplication" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

</configuration>